{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/askme.css" %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->

    <title>Ask me!</title>
  </head>
  <body>

<!-- Navbar -->
  <div class="container-fluid bg-light">
    <div class="row p-0 align-items-center">
      <div class="col-8">
        <div class="d-flex justify-content-center">
          <div class="h1 p-1 mr-5 ">Ask Me!</div>
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-center align-items-center">
          <button type="submit" name="button" class="btn btn-outline-success mr-lg-3">Ask!</button>
          <img class="rounded-circle avatar" src="/static/img/anonym.jpg" alt="Нет аватара">
          <div>
            <div class="mb-1">
              <span>mr. Anonim</span>
            </div>
            <div class="btn-group" role="group" aria-label="Toolbar button group">
              <button type="submit" name="button" class="btn py-0 btn-outline-dark">settings</button>
              <button type="submit" name="button" class="btn py-0 btn-outline-dark">log out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Main page -->
  {% block content %}
  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="{% static "js/jquery-3.3.1.min.js" %}"></script> -->
    <!-- <script src="{% static "js/popper.min.js" %}"></script> -->
    <!-- <script src="{% static "js/bootstrap.min.js" %}"></script> -->

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>
